name: Deploy AKS

on:
  push:
    paths:
      - 'aks/*'
      - '.github/workflows/aks-deploy.yaml'
    branches: [ main ]
  pull_request:
    paths:
      - 'aks/*'
      - '.github/workflows/aks-deploy.yaml'
    branches: [ main ]

env:
  DEFAULT_LOCATION: westeurope
  DEFAULT_CLUSTER_NAME: dev
        
jobs:
  deploy-aks-prereq:
    name: Deploy AKS prereq
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    # Login into your Azure Subscription using your Azure credentials - make sure the credentials has write permissions for the specific resource group/subscription. The credentials should be stored in GitHub Secrets - (Go to Settings Tab ->Secrets)
    - name: Azure Login
      uses: Azure/login@v1.1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    # Create resource groups for AKS and related resources
    - name: Azure CLI - Create AKS and tooling related RGs
      id: create-aks-rgs
      uses: Azure/cli@v1.0.0
      with:
        inlineScript: |
          az deployment sub  $([[ ${{ github.event_name }} = pull_request ]] && echo what-if --no-pretty-print || echo create) \
             --name aks-prereqs-rgs --location ${{ env.DEFAULT_LOCATION }} --template-file aks/resource-groups.json \
              --parameters  "@aks-prereq/resource-groups.parameters.dev.json" 

          echo "::set-output name=acrResourceGroupName::$(az deployment sub show -n aks-prereqs-rgs --query properties.outputs.acrResourceGroupName.value -o tsv)"

        azcliversion: latest

    # Create identities for AKS resources 
    - name: Azure CLI - Create identities for AKS resources 
      id: create-identities
      uses: Azure/cli@v1.0.0
      with:
        inlineScript: |
          az deployment sub  $([[ ${{ github.event_name }} = pull_request ]] && echo what-if --no-pretty-print || echo create) \
             --name aks-prereqs-identities --location ${{ env.DEFAULT_LOCATION }} --template-file aks/identities-prereqs.json \
              --parameters  "@aks-prereq/identities.parameters.dev.json" 

          echo "::set-output name=appGatewayControllerIdName::$(az deployment sub show -n aks-prereqs-identities --query properties.outputs.appGatewayControllerIdName.value -o tsv)"
          echo "::set-output name=appGatewayControllerPrincipalResourceId::$(az deployment sub show -n aks-prereqs-identities --query properties.outputs.appGatewayControllerPrincipalResourceId.value -o tsv)"

        azcliversion: latest