name: Test AGW

on:
  push:
    paths:
      - '.github/workflows/test-agw.yaml'
    branches: [ main ]

env:
  DEFAULT_LOCATION: westeurope
        
jobs:
  deploy-agic:
    name: Deploy App GW Ingress Controller
    runs-on: 'ubuntu-latest'
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    # Login into your Azure  to be able to get subscription id
    - name: Azure Login
      uses: Azure/login@v1.1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    # Set the target Azure Kubernetes Service (AKS) cluster and init KUBECONFIG env var
    - name: Set AKS context
      uses: azure/aks-set-context@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
        cluster-name: aks-dev-776xfbx6rpees
        resource-group: rg-aks-dev

    - name: Setup helm
      uses: azure/setup-helm@v1
      id: install

    # Create Application Gateway 
    - name: Azure CLI - Deploy Application Gateway 
      id: deploy-agw
      shell: bash
      run: |

          RG=rg-aks-dev
          SPOKES_RG_NAME=`cat networking/networking.parameters.dev.json | jq -r '.parameters."spokes-rg-name"'.value`
          TARGET_VNET_RESOURCE_ID=$(az deployment group show -g $SPOKES_RG_NAME -n spoke-default --query properties.outputs.clusterVnetResourceId.value -o tsv)

          APW=$(az network application-gateway show -g $RG \
            -n apw-aks-dev-776xfbx6rpees 2>&1)
          # check if user was already created
          status=$?
          if [[ $status -eq 0 ]]
          then
            echo "Application Gateway already exists.. and it wont be overwritten (To avoid losing exising configuration)"
          else
            az deployment group  $([[ ${{ github.event_name }} = pull_request ]] && echo what-if --no-pretty-print || echo create) \
              --resource-group $RG --template-file aks/application-gateway.json \
              --parameters targetVnetResourceId=$TARGET_VNET_RESOURCE_ID \
              location=${{ env.DEFAULT_LOCATION }} \
              uniqueClusterName=aks-dev-776xfbx6rpees \
              ingressControllerIdName=appgw-dev \
              ingressControllerPrincipalId=94e18523-f10c-4e36-8b8b-0625ee799853 \
              "@global/cluster-name.parameter.dev.json"
          fi